@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {

    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    font-family: "inter";

}   

.container {
    display: flex;



}

.left-panel {

    height: 100%;
    width: 20%;

    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #2b2a2a;

}

.central-panel {

    height: 100vh;
    width: 80%;
    display: flex; /* ativar ao flex */
    flex-direction: column; /* mudar flex para colunas */
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 16;
}

.top{

    width: 100%;
    min-height: 300px;
    padding: 12;
    background-color: white;
    border: #1C1C1C;
    
}

.button{

    width:100%;
    min-height:300px;

    background-color:white;
    color: black;
    padding: 12;
    
}

.bt1 {

    width: 100%;
    height: 48px;
    margin-bottom:4;
    border: 1px;
    border-radius: 10px;
    background-color: white;
    padding: 12;
    text-align: left;

}
/*espaço i e para edita o icone*/
.btn-chat {

width:100% ;
height:40px ;
margin-bottom:4 ;
border:20px;
background-color: #1C1C1C;
color: white;
border-radius: 10px;
}

.bt2 {

    width: 100% ;
    height: 48px;
    margin-bottom:4;
    border: 1px;
    border-radius: 10px;
    background-color: white ;
    padding: 12;
    text-align: left; /*alinhar na direita ou esquerda*/

}

.logo {

    width:446px;
    height:101px;
    margin-bottom: 50px;
    margin-left:1vh ;
    margin-right:1vh ;
}

.inf {
     
    width: 920px;
    height: 272px;
    background-color: rgb(14, 146, 65);
    max-width: 75%;
    
}


.exa {
    margin-left:50;
    width: 280px;
    margin-bottom:4;
    border: 1px;
    border-radius: 16px;
    background-color: rgb(245, 4, 213);
    padding: 12;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.bx1 {

    display: flex;
    flex-direction: column;
    margin-bottom:16;
}
